@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: #0d1224;
}
* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
}
html{
    scroll-behavior: smooth;
}
.first_page{
    height: 100vh;
    display: flex;
    position: relative;
    background-color: #0d1224;
}
.blur{
    width: 100%;
}
.column{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
}
nav{

    height: 12%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}
.nav-elements {
    width: 60%;
}
.elements {
    list-style-type: none;
    display: flex;
    padding: 20px;
    height: 10%;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.elements li a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: all 0.5s;
    font-size: 20px;
}
.elements li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    transition: width 0.3s;
}
.line{
    height: 100px;
    width: 2px;
    background-color: #00ff97;
}
.line-sep{
    width: 90%;
    margin: auto;
    height: 1px;
    background: linear-gradient(200deg,transparent, #7c3aed,transparent);
}
.software{
  
}
.name{
    font-size: 3.5rem;
    font-weight: 700;
    

}
.name div{
    color: white;  
    display: inline;
}
.resume{
    width: 140px;
    height: 45px;
    background: linear-gradient(135deg, #ec4899, #7c3aed);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
   cursor: pointer;
   
}

#aboutme{
    text-decoration: none;
    font-weight: 700;
    text-decoration: underline;
}
.name span:first-of-type{
    color: white;
}
.talent{
    color: white;
    font-size: 3rem;
    font-weight: 700;
}
#element2{
    font-size: 3rem;
    color: #ec4899 !important;
}
.logo img{
    border-radius: 50%;
    width: 50px;
    margin: 10px 50px;
}
.typed-cursor{
    font-size: 45px;
}
.skill-container{
    display: flex;
    width: 80%;
}
.skill-heading{
    text-align: center;
    font-size: 23px;
    color: rgb(221, 218, 218);
    font-weight: 500;
}
.container{
    width: 70%;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
   
}
.content{
    position: absolute;
    top: 85px;
    line-height: 1.2;
    width: 98%;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
     height: 60vh;
     z-index: 10;

}
.intro{
    
   
}
.app a img{
    width: 40px;
}
.intro_app {
   display: flex;
   align-items: center;
   

    list-style: none;
    gap: 5px;
    padding-left: 0;
    
}
.details{
   margin-top: 80px;
    color: white;
    font-size: 20px;
}
.photo{
   width: 50vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.separate img{
    width: 97.8vw;
    height: 10vh;
}
#margin{
    height: 9vh;
}
.second_page{
    height: 90vh;
    padding: 0 60px;
    
}
.heading{
    color: #ec4899;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    text-decoration: underline;
    margin-top: -10px;
}
.about{
    width: 60%;
}
.about div{
    color: white;
    font-size: 1rem;
}
.content2{
    display: flex;
    
}
.photo2{
    width: 40vw;
}
.grid{
    display: grid;
    grid-template-columns:  auto auto;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
}
.grid_data{
    color: white;
}
.page3{
    height: 180vh;
    width: 100%;
    margin: -10px;
    padding: 0px 10px;
    display: grid;
    justify-content: center;
    background-color: rgb(21, 21, 21);
}
.heading2{
    width: 250px;
    height: 80px;
    border-radius: 50px;
    border-style: solid;
    border-width: 0px 0px 6px 0px;
    border-color: #00ff97;
    background-color: white;
   
}
#nodejs{
    /* gap: 15px; */
}
.real-skill{
    width: 150px;
    height: 130px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: #0f1427;
    gap: 8px;
    transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}
.new_skill{
    width: 500px;
    height: 230px;
    border: .1px solid #7c3aed;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#h2{
    justify-self: center; 
}
.skills{
    display: grid;
    grid-template-columns:  auto auto auto;
}
.skill{
    width: 20vw;
    height: 60vh;
    margin: 40px 50px 0 70px;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: 84% 17%;
    background-color: #0a1019;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 9.2;
    padding: 10px;
    position: relative;
    border-radius:20px;
}
.skill .image2{
    width: 250px;
    height: 150px;
    position: absolute;
    bottom: 14px;
    right: 14px;

}

.image1{
    position: absolute;
    top: 40px;
    left: 30px;
}
.column2{
    max-width: 100%;
    height: auto;
    color:transparent;
    z-index: -10;

}
.content4{
    position: absolute;
    top: 10%;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page4{
    height: 130vh;
    padding: 10px;
    margin-top: -10px;
    position: relative;
}
.lan{
    margin: auto;
    width: 80vw;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    column-gap: 40px;
    line-height: 0;
}
.skill-contain{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
.line1{
  width: 90%;
  height: 1px;
  background: linear-gradient(200deg,transparent, #7c3aed,transparent);
}
.project-line{
    width: 100%;
    height: 1px;
    background: linear-gradient(320deg,transparent, #7c3aed,transparent);
}
.line2{
   
}
.line3{
   
}
#lan1{
    margin-top: 60px;
}
#h4{
    color: #ec4899;
    width: 70vw;
    margin: auto;
    text-decoration: none;
    font-size: 2.5rem;
    margin-top: -10px;
    text-align: center;
    text-decoration: underline;
}
.language{
    color: black;
    /* text-align: center; */
    font-size: 2rem;
    font-weight: 700;
    text-decoration: underline;
    width: 22vw;
    height: 60px;
    border-radius: 50px;
    border-style: solid;
    border-width: 0px 0px 6px 0px;
    border-color: #00ff97;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.language img{
    width: 60px;
}
.page5{
    height: 140vh;
   
}
#h5{
     text-align: center;
     font-size: 2.5rem;
     font-weight:700;
     text-decoration: underline;
    color: #ec4899;
}
.projects{
    margin: auto;
    height: 60vh;
    width: 85vw;
    color: rgb(127, 127, 127);
    display: flex;
    align-items: center;
    gap: 90px;
    font-size: 1.2rem;
    margin-top: 30px;
}
.image{
    width: 210px;
    height: 280px;
   border-radius: 20px;
   display: flex;
   background-color: rgb(31, 31, 31);
    justify-content: center;
    align-items: center;
    position: absolute;

}

#library{
    width: 960px;
}
.rotate_img {
    width: 900px;
    height: 300px;
    border-radius: 20px;
    background-color: #00ff97;
    background-image: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 2s infinite ease-in-out; /* Smooth, continuous rotation */
    position: relative;
   
}
.rotate_img .image {
    width: 210px;
    height: 280px;
    border-radius: 20px;
    display: flex;
    background-color: rgb(31, 31, 31);
    justify-content: center;
    align-items: center;
   
    animation: counter-rotate 2s infinite ease-in-out;
}
#img1 {
    width: 180px;
}
.projects_info h2{
    color: white;
}
.page6{
    height: 180vh;
    margin-top: -38px;
    position: relative;
}
.h6{
    width: fit-content;
    height: fit-content;
    margin: auto;
    background-color: rgb(26 20 67);
    margin-top: 80px;
    color: white;
    font-size:1.25rem;
    line-height: 1.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding: 1rem;
    border-radius: .375rem;
}
.project-info img{
    width: 300px;
    height: 180px;
    border: 1px solid;
    border-radius: 10px;
    border-color:  rgb(61, 61, 61)
}
.imgg{
    position: relative;
}
.imgg img{
    transition: 0.5s ease;
}
.live{
    width: 70px;
    height: 40px;
    background: linear-gradient(135deg, #ec4899, #7c3aed);
    position: absolute;
    top: 40%;
   left: 40px;
   display: none;
   border-radius: 10px;
   transition:  0.5s ease;

}
.git{
    width: 80px;
    height: 40px;
    background: linear-gradient(135deg, #ec4899, #7c3aed);
    position: absolute;
    top: 40%;
   right: 40px;
  display: none;
   border-radius: 10px;
   transition:  0.5s ease;

}
.imgg .live a{
    text-decoration: none;
}
.imgg .git a{
    text-decoration: none;
}
.imgg:hover{
    img{
        opacity: 0.5;
    }
    .live{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 6;
        transition: 0.5s ease;
        
    }
    .git{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: 0.5s ease;
    }
}
.description{
    color: white;
    font-size: 15px;
   
}
.real-skill:hover{
    border-color: #7c3aed;
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.project-info{
    height: 500px;
    width: 300px;
    border: 1px solid rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    align-items: center;
    position: relative;
    border-radius: 10px;
    transition: 0.5s ease;
}
.arrow img{
    width: 100%;
    height: 50px;
}
.Projects{
    display: flex;
    margin-top: 70px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.language_requi{
   display: grid;
   grid-template-columns: auto auto auto;
      width: 90%;   
   gap: 10px;
}
.project_name{
    color: #ec4899;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 30px;
}
.date{
    color: #444447;
    font-size: 15px; 
}

.language_requi div{
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .75rem;
    padding-right: .75rem;
    background: linear-gradient(135deg, #ec4899, #7c3aed);
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 30px;
}
.project-detail{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
    margin-top: 0px;
    row-gap: 3px;

}
.information{
    width: 60vw;
    margin: auto;
   margin-top: 70px;
}
.page6 p{
    color: white;
    font-size: 1.3rem;
    margin-top: 30px;

}
.information p span{
    font-weight: 700;
    color: #00ff97;
}
.information div{
    font-size: 1.3rem;
    color: whitesmoke;
}
.input{
    width: 50vw;
    height: 40px;
    font-size: 1rem;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    padding: 5px;
}
.gap{
    margin-top: 30px;
}
#input2{
    height: 90px;
    box-sizing: border-box;
    padding: 8px;
}
.send{
    width: 180px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ff97;
    
}
#Message{
    display: block;
     width: 50vw;
     height: 20vh;
     border-radius: 10px;
     font-size: 1.1rem;
     padding: 10px;
}
.hov:hover{
    background-color: #00ff97;
    border-color: white;
    transition: 0.5s ease;
}

.shadow:hover{
    transition: 0.3s ease-in-out;
    box-shadow: 10px 10px 12px #00ff97 ;
    
}
#me{
    width: 300px;
    height: 350px;
    margin: 30px;
    border-radius: 40px;
    border: 1px solid #00ff97;
    box-shadow: 5px 10px 10px #00FF97 ;
    
}
#message:hover{
    background-color: white;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.image img{
    width: 120px;
}
.footer{
    position: absolute;
    bottom: 0;
}
.communication{
    width: 98vw;
    height: 20vh;
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
  
}
.main{
    width: 100%;
}
.click{
    color: rgb(126, 121, 121);
    position: absolute;
    bottom: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    gap: 8px;
}
.click img{
    width: 30px;
}
.btn{
    background-color: #ec4899;
   width: 100px;
   font-size: 1.1rem;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 15px;
}
#img1{
    width: 180px;
}
.icon img{
    width: 80px;
    border-radius: 50%;
}
.communicate{
    color: white;
    font-size: 20px;
}
.about div{
    
}
.communicate span{
    color: #ec4899;
    font-weight: 600;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
   
    100%{
        transform: rotate(0deg);
    }
}

/* Child counter-rotation to keep it static */

#black{
    color: white;
}
.elements span{
    position: absolute;
    top: 10px;
    left: 45px;
    height: 50px;
    width: 120px;
    background-color: #00ff97;
    z-index: -1;
    border-radius: 10px;
}
/* For the first li element */
 .nav-elements ul.elements li:nth-child(1):hover ~ span {

    
}

/* For the second li element */
.elements li:hover{
 

   transition: all 0.5s;
}
#size{
    font-size: 2rem;
    font-weight: 600;
}
.elements li a:hover{
    transition: width 0.3s;

   animation-name: root;
}
:root{
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

.nav-elements ul.elements span {
    position: absolute;
    transition: left 0.3s ease; /* Smooth movement */
}
.ham img{
    width: 50px;
}
.ham{
    position: absolute;
    left: 15px;
    display: none;
}
#color{
    color: black;
}
.elements span{
    transition: 0.3s ease-in-out;
}
.project-info img:hover{
    
}
.left{
   height: 120%;
   width: 100%;
    background-color: black;
    z-index: 1;
    position: fixed;
    left: 0;
    transition: 0.5s ease-in-out;
    display: none;
}
.banner{
    position: absolute;
    top: -10px;
    width: 100%;
    background-color: #0a1019;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    height: 45px;
    align-items: center;
}
.adjust{
    width: 100%;
}
.banner img{
    width: 55px;   
}
#name{
    width: 55vw;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}
#email{
    width: 55vw;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}
#message{
    width: 55vw;
    height: 30vh;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;

}
.left ul{
    margin: auto;
    width: max-content;
    margin-top: 25vh;
    list-style: none;
    text-align: center;
}
.left ul li a{
    font-size: 3rem;
    color: white;
    text-decoration: underline;
}
#ban{
    border-radius: 50%;
    position: absolute;
    left: 15px;
}
#close{
    position: absolute;
    right: 15px;
}
/* .nav-elements ul.elements li a:hover{
   color: black;
} */
/* @media screen and (min-height:1000px){
    .first_page{
        height: 85vh;
    }
    .second_page{
        height: 40vh;
    }
    .page4{
        height: 85vh;
    }
   #h44{
    margin-top: 0;
   }
   .Projects{
    gap: 50px;
   }
   .page5{
    height: 135vh;
   }
   .page6{
    height: 132vh;
   }
   nav{
    height: 8%;
   }
   
} */
@media screen and (max-width:850px){
    .first_page{
        height: 90vh;
    }
    .second_page{
        height: 60vh;
    }
   .content{
    padding-left: 40px;
   }
   .page4{
    height: 100vh;
   }
   .page6{
    height: 140vh;
   }
   nav{
    height: 9%;
   }
   .nav-elements{
    display: none;
   }
   .ham{
    display: flex;
   }
   .logo img{
    margin: 10px 30px;
   }
   .logo{
    position: absolute;
    right: 0px;
   }
   .left{
    z-index: 100;
   }

  
}
@media screen and (max-width:500px){
    .name{
        font-size: 2.5rem;

    }
    .communication{
        height: 15vh;
    }
    .content{
        width: 85%;
    }
    .talent{
        font-size: 1.8rem;
    }
    #element2{
        font-size: 1.7rem;
    }
    .me-photo{
        display: none;
    }
    .first_page{
        height: 100vh;
   padding-left: 0px;
    }
    .second_page{
        width: 70%;
        height: 75vh;
    }
    .content2{
        flex-direction: column;
    }
    .about{
        width: 100%;
    }
    .real-skill{
        width: 115px;
        height: 125px;
    }
    .page4{
        height: 150vh;
    }
    .page5{
        height: 220vh;
    }
    .Projects{
        gap: 40px;
    }
    .page6{
    width: 100%;
    height: 165vh;
    display: none;
    }
    .communication{
        gap: 90px;
        width: 100%;
    }
   nav{
    height: 8%;
   }
   .ham img{
    width: 45px;
   }
   .content{
    padding-left: 15px;
   }
   .column2{
    height: 50vh;
   }
   .column{
    height: 40vh;
   }
}
@media screen and (max-width:400px){
    .container{
        width: 80%;
    }
    .page5{
        height: 230vh;
        padding-left: 70px;
    }
    .page6{
        padding-left: 20px;
    }
    .first_page{
        
    }
    .name{
        font-size: 2.4rem;
    }
    .talent{
        font-size: 1.8rem;
    }
    #element2{
        font-size: 1.8rem;
    }
    .page6{
        padding-left: 45px;
    }
}
@media screen and (max-width:1000px) and (min-width:500px){
    .content{
        width: 80%;
        margin-top: 4%;
       }

}
@media screen and (max-width:1100px) and (min-width:800px){
    .first_page{
        height: 70vh;
    }
    .second_page{
        height: 45vh;
    }
    .page4{
        height: 75vh;
    }
    .Projects{
        gap: 40px;
    }
    .page5{
        height: 105vh;
    }
    .page6{
        height: 120vh;
    }
    nav{
        height: 9%;
    }
}