@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: rgb(21, 21, 21);
}
* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  
}
html{
    scroll-behavior: smooth;
}
.first_page{
    height: 90vh;
    display: flex;
    position: relative;
}
nav{
    height: 10%;
    background-color: black;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
}
.nav-elements {
    width: 60%;
}
.elements {
    list-style-type: none;
    display: flex;
    padding: 20px;
    height: 10%;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.elements li a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: all 0.5s;
    font-size: 20px;
}
.elements li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    transition: width 0.3s;
}
.line{
    height: 100px;
    width: 2px;
    background-color: #00ff97;
}
.software{
    position: fixed;
    right: 30px;
   top: 30vh;
}
.name{
    font-size: 3rem;
    font-weight: 700;
    

}
.name div{
    color: white;  
    display: inline;
}


#aboutme{
    text-decoration: none;
    font-weight: 700;
    text-decoration: underline;
}
.name span:first-of-type{
    color: white;
}
.talent{
    color: white;
    font-size: 3rem;
    font-weight: 700;
}
#element2{
    font-size: 3rem;
    color: #ed08d6 !important;
}
.logo img{
    border-radius: 50%;
    width: 50px;
    margin: 0 50px;
}
.typed-cursor{
    font-size: 45px;
}
.content{
    position: absolute;
    top: 85px;
    line-height: 1.2;
    width: 90vw;
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     height: 50vh;
}
.intro{
    width: 60vw;
}
.app a img{
    width: 40px;
}
.intro_app {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex-direction: column;
    list-style: none;
    gap: 5px;
    padding-left: 0;
    
}
.details{
   margin-top: 80px;
    color: white;
    font-size: 20px;
}
.photo{
   width: 50vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.separate img{
    width: 97.8vw;
    height: 10vh;
}
#margin{
    height: 9vh;
}
.second_page{
    height: 90vh;
    padding: 0 20px;
    background-color: black;
}
.heading{
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    text-decoration: underline;
    margin-top: -10px;
}

.about div{
    color: white;
    font-size: 1rem;
}
.content2{
    display: flex;
    flex-direction: column;
}
.photo2{
    width: 40vw;
}
.grid{
    display: grid;
    grid-template-columns:  auto auto;
    font-size: 18px;
    font-weight: 600;
}
.grid_data{
    color: white;
}
.page3{
    height: 180vh;
    width: 100%;
    margin: -10px;
    padding: 0px 10px;
    display: grid;
    justify-content: center;
    background-color: rgb(21, 21, 21);
}
.heading2{
    width: 250px;
    height: 80px;
    border-radius: 50px;
    border-style: solid;
    border-width: 0px 0px 6px 0px;
    border-color: #00ff97;
    background-color: white;
   
}
#h2{
    justify-self: center; 
}
.skills{
    display: grid;
    grid-template-columns:  auto auto auto;
}
.skill{
    width: 20vw;
    height: 60vh;
    margin: 40px 50px 0 70px;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: 84% 17%;
    background-color: #0a1019;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 9.2;
    padding: 10px;
    position: relative;
    border-radius:20px;
}
.skill .image2{
    width: 250px;
    height: 150px;
    position: absolute;
    bottom: 14px;
    right: 14px;

}

.image1{
    position: absolute;
    top: 40px;
    left: 30px;
}
.page4{
    height: 80vh;
    padding: 20px;
    background-color: rgb(21, 21, 21);
    margin-top: -10px;
}
.lan{
    margin: auto;
    width: 80vw;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    column-gap: 40px;
    line-height: 0;
}
#lan1{
    margin-top: 60px;
}
#h4{
    color: white;
    width: 70vw;
    margin: auto;
    text-decoration: none;
    font-size: 2.5rem;
    margin-top: -10px;
}
.language{
    color: black;
    /* text-align: center; */
    font-size: 2rem;
    font-weight: 700;
    text-decoration: underline;
    width: 22vw;
    height: 60px;
    border-radius: 50px;
    border-style: solid;
    border-width: 0px 0px 6px 0px;
    border-color: #00ff97;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.language img{
    width: 60px;
}
.page5{
    height: 140vh;
    background-color: black;
    margin-top: -38px;
}
#h5{
    margin: auto;
    margin-top: 32px;
    margin-bottom: 40px;
    color: black;
}
.projects{
    margin: auto;
    height: 60vh;
    width: 85vw;
    color: rgb(127, 127, 127);
    display: flex;
    align-items: center;
    gap: 90px;
    font-size: 1.2rem;
    margin-top: 30px;
}
.image{
    width: 210px;
    height: 280px;
   border-radius: 20px;
   display: flex;
   background-color: rgb(31, 31, 31);
    justify-content: center;
    align-items: center;
    position: absolute;

}

#library{
    width: 960px;
}
.rotate_img {
    width: 900px;
    height: 300px;
    border-radius: 20px;
    background-color: #00ff97;
    background-image: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 2s infinite ease-in-out; /* Smooth, continuous rotation */
    position: relative;
   
}
.rotate_img .image {
    width: 210px;
    height: 280px;
    border-radius: 20px;
    display: flex;
    background-color: rgb(31, 31, 31);
    justify-content: center;
    align-items: center;
   
    animation: counter-rotate 2s infinite ease-in-out;
}
#img1 {
    width: 180px;
}
.projects_info h2{
    color: white;
}
.page6{
    height: 180vh;
    margin-top: -38px;
}
#h6{
    width: 350px;
    margin: auto;
    margin-top: 40px;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.project-info img{
    width: 300px;
    height: 180px;
    border: 1px solid;
    border-radius: 10px;
    border-color: #00FF97
}
.imgg{
    position: relative;
}
.live{
    width: 70px;
    height: 40px;
    background-color: #00ff97;
    position: absolute;
    top: 40%;
   left: 40px;
   display: none;
   border-radius: 10px;
}
.git{
    width: 80px;
    height: 40px;
    background-color: #00ff97;
    position: absolute;
    top: 40%;
   right: 40px;
  display: none;
   border-radius: 10px;
}
.imgg .live a{
    text-decoration: none;
}
.imgg .git a{
    text-decoration: none;
}
.imgg:hover{
    img{
        opacity: 0.5;
    }
    .live{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 6;
    }
    .git{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
}
.description{
    color: white;
    font-size: 15px;
   
}
.project-info{
    height: 500px;
    width: 300px;
    border: 1px solid #00ff97;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    align-items: center;
    position: relative;
    border-radius: 10px;
}
.arrow img{
    width: 100%;
    height: 50px;
}
.Projects{
    display: flex;
    margin-top: 70px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.language_requi{
   display: grid;
   grid-template-columns: auto auto auto;
      width: 90%;   
   gap: 10px;
}
.project_name{
    color: #00ff97;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 30px;
}
.date{
    color: #444447;
    font-size: 15px; 
}

.language_requi div{
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .75rem;
    padding-right: .75rem;
       background-color: #00FF97;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 30px;
}
.project-detail{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
    margin-top: 0px;
    row-gap: 3px;

}
.information{
    width: 60vw;
    margin: auto;
   margin-top: 70px;
}
.page6 p{
    color: white;
    font-size: 1.3rem;
    margin-top: 30px;

}
.information p span{
    font-weight: 700;
    color: #00ff97;
}
.information div{
    font-size: 1.3rem;
    color: white;
}
.input{
    width: 50vw;
    height: 40px;
    font-size: 1rem;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    padding: 5px;
}
.gap{
    margin-top: 30px;
}
#input2{
    height: 90px;
    box-sizing: border-box;
    padding: 8px;
}
.send{
    width: 180px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ff97;
    
}
#Message{
    display: block;
     width: 50vw;
     height: 20vh;
     border-radius: 10px;
     font-size: 1.1rem;
     padding: 10px;
}
.hov:hover{
    background-color: #00ff97;
    border-color: white;
    transition: 0.5s ease;
}

.shadow:hover{
    transition: 0.3s ease-in-out;
    box-shadow: 10px 10px 12px #00ff97 ;
    
}
#me{
    width: 300px;
    height: 350px;
    margin: 30px;
    border-radius: 40px;
    border: 1px solid #00ff97;
    box-shadow: 5px 10px 10px #00FF97 ;
    
}
#message:hover{
    background-color: white;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.image img{
    width: 120px;
}
.communication{
    width: 98.5vw;
    height: 30vh;
    background-color: black;
    margin-left: -7px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.click{
    color: rgb(126, 121, 121);
    position: absolute;
    bottom: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    gap: 8px;
}
.click img{
    width: 30px;
}
.btn{
    background-color: #00FF97;
   width: 100px;
   font-size: 1.1rem;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 15px;
}
#img1{
    width: 180px;
}
.icon img{
    width: 120px;
    border-radius: 50%;
}
.communicate{
    color: white;
    font-size: 20px;
}
.about div{
    margin: 10px;
}
.communicate span{
    color: #00FF97;
    font-weight: 600;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
   
    100%{
        transform: rotate(0deg);
    }
}

/* Child counter-rotation to keep it static */
@keyframes counter-rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg); /* Counter-rotate */
    }
  
    100% {
        transform: rotate(0deg); /* Back to original position */
    }
}
#black{
    color: white;
}
.elements span{
    position: absolute;
    top: 10px;
    left: 45px;
    height: 50px;
    width: 120px;
    background-color: #00ff97;
    z-index: -1;
    border-radius: 10px;
}
/* For the first li element */
 .nav-elements ul.elements li:nth-child(1):hover ~ span {

    
}

/* For the second li element */
.elements li:hover{
 

   transition: all 0.5s;
}
#size{
    font-size: 2rem;
    font-weight: 600;
}
.elements li a:hover{
    transition: width 0.3s;

   animation-name: root;
}
:root{
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

.nav-elements ul.elements span {
    position: absolute;
    transition: left 0.3s ease; /* Smooth movement */
}
.ham img{
    width: 50px;
}
.ham{
    position: absolute;
    left: 15px;
    display: none;
}
#color{
    color: black;
}
.elements span{
    transition: 0.3s ease-in-out;
}
.project-info img:hover{
    
}
.left{
   height: 120%;
   width: 100%;
    background-color: black;
    z-index: 1;
    position: fixed;
    left: 0;
    transition: 0.5s ease-in-out;
    display: none;
}
.banner{
    position: absolute;
    top: -10px;
    width: 100%;
    background-color: #0a1019;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    height: 45px;
    align-items: center;
}
.adjust{
    width: 100%;
}
.banner img{
    width: 55px;   
}
#name{
    width: 55vw;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}
#email{
    width: 55vw;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}
#message{
    width: 55vw;
    height: 30vh;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;

}
.left ul{
    margin: auto;
    width: max-content;
    margin-top: 25vh;
    list-style: none;
    text-align: center;
}
.left ul li a{
    font-size: 3rem;
    color: white;
    text-decoration: underline;
}
#ban{
    border-radius: 50%;
    position: absolute;
    left: 15px;
}
#close{
    position: absolute;
    right: 15px;
}
/* .nav-elements ul.elements li a:hover{
   color: black;
} */
 @media screen and (max-width:1200px){
    .content{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 60px;
    }
    .first_page{
        height: 90vh;
    }
    .name{
        width: max-content;
    }
   .photo{
    margin: auto;
   }
   .software{
    top: 25vh;
   }
   .elements span {
    left: 35px;
    width: 96px;
   }
   .second_page{
    height: 70vh;
   }
   .page4{
    height: 50vh;
   }
   
   .page5{
    height: 170vh;
   }
   .Projects{
    display: grid;
    grid-template-columns: auto auto;

   }
   .project-info{
    margin: 15px;
   }
   .page6{
    height: 130vh;
   }
   .communication{
    height: 20vh;
   }
   .language{
    width: max-content;
padding: 0px 25px;
}
}

@media screen and (max-width:900px){
    .content{
        width: 80vw;
    }
    
    .name{
        font-size: 2.5rem;
    }
    .talent{
        font-size: 2.5rem;
    }
    #element2{
        font-size: 2.5rem;
    }
    .separate img{
        width: 97.5vw;
      margin-top: -3px;
      height: 10vh;
    }
   .second_page{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .separate{
    margin: 3px;
   }
 .lan{
    flex-wrap: wrap;
    row-gap: 30px;
 }
 .page4{
    height: 65vh;
 }
 #margin{
    height: 6vh;
 }
 .page5{
    height: 100vh;
 }
 .communication{
    height: 15vh;
    width: 102vw;
 }
}
@media screen and (max-width:800px){
    .nav-elements{
        display: none;
    }
    .logo{
        position: absolute;
        right: 20px;
    }
    .photo{
        width: 100%;
        margin: auto;
    }
    .ham{
        display: flex;
    }
    .name div{
        display: block;
     }
   .Projects{
    grid-template-columns: auto;
    
   }
   .second_page{
    margin-top: -10px;
   }
   .page5{
    height: auto;
     padding: 20px;
   }
  .first_page{
    height: 100vh;
    width: 100%;
    display: flex;
        flex-direction: column;
        align-items: center;
  }
}

@media screen and (min-height :1100px) and (max-width:1200px){
    .first_page{
        height: 85vh;
    }
    .second_page{
        height: 60vh;
        
    }
    .page4{
        height: 30vh;
    }
    .page5{
        height: 100vh;
    }
  
}
@media screen and (max-width:600px){
    .adjust{
        width: 85%;
       }
   .content{
    height: 25vh;
    margin: auto;
    margin-top: 40px;
   }
    .software{
        top: 35vh;
    }
    .intro div img{
        width: 60vw;
    }
    .separate img{
        width: 104vw;
    }
  .page5{
    width: 100%;
  }
   #name{
    display: block;
    width: 80vw;
   }
   #email{
    display: block;
    width: 80vw;
   }
   #message{
    width: 80vw;
   }
    .second_page{
        height: 90vh;
        width: 100%;
    }
    .heading{
        font-size: 2.5rem;
    }
    #margin{
        height: 8vh;
    }
    .logo img{
        margin: 5px;
    }
    #h5{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input{
        width: 65vw;
    }
    #Message{
        width: 65vw;
    }
    .information{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .information p{
        margin-top: 8px;
    }
    .icon img{
        width: 60px;
    }
    .communication{
        width: 110%;
        flex-direction: column;
     justify-content: center;
    }
    .communicate{
        font-size: 15px;
        margin: auto;
        width: max-content;
    }
   .photo{
    margin-top: 60px;
   }
   
}
@media screen and (max-width:550px){
    #me{
        width: 30vh;
        height: 300px;
    }
    .second_page{
        height: 110vh;
    }
    .separate img{
        height: 6vh;
    }
    .page4{
        height: 100vh;
    }
    #h6{
        width: 300px;
    }
    .page6 p{
        width: 80%;
    }
    .intro{
        font-size: 2rem;
        height: 20vh;
    }
}
@media screen and (max-width:400px){
      .name{
        font-size: 2rem;
      }
    .talent{
        font-size: 2rem;
    }
    #element2{
        font-size: 2rem;
    }
   .first_page{
    height: 120vh;
   }
   .second_page{
    height: 160vh;
   }
   .page4{
    height: 140vh;
   }
  
}